/* Optional styles */
button {
  margin-right: 10px;
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #0a0a0a;
  color: #fafafa;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
  font-family: monospace;
  font-size: 30px;
}

input {
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  outline: none;
}
